<div>
><form (submit)="login()">
  <input type="email" [(ngModel)]="email" name="email" autocomplete="email" />
  <input type="password" [(ngModel)]="password" name="password" autocomplete="current-password" />
  <button type="submit">Login</button>
</form>

  <!-- Error Message Display -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Register Link -->
  <div class="register-link">
    <p>Don't have an account? <a (click)="openRegisterWindow()">Register</a></p>
  </div>
</div>